.menu-btn {
  z-index: 2;
  height: 20px;
  width: 28px;
  cursor: pointer;
  @include transition-ease;

  &__burger {
    position: absolute;
    width: 28px;
    height: 3px;
    background: #000;
    @include transition-ease;

    &::before {
      content: "";
      position: absolute;
      top: -8px;
      width: 28px;
      height: 3px;
      background: #000;
      @include transition-ease;
    }

    &::after {
      content: "";
      position: absolute;
      top: 8px;
      width: 20px;
      height: 3px;
      background: #000;
      @include transition-ease;
    }

    &.open {
      transform: rotate(720deg);
      background: transparent;

      &::before {
        transform: rotate(45deg) translate(5px, 8px);
        background: white;
      }

      &::after {
        width: 28px;
        transform: rotate(-45deg) translate(3px, -7px);
        background: white;
      }
    }
  }
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  visibility: hidden;
  z-index: 1;
  &.open {
    visibility: visible;
  }

  .nav-items {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    background: #000;
    list-style: none;
    transform: translateY(-100%);
    @include transition-ease;

    &.open {
      transform: translateY(0);
    }
    &__item {
      transform: translateX(100vw);
      @include transition-ease;

      &.open {
        transform: translateX(0);
      }
    }

    &__link {
      display: inline-block;
      font-size: 1.39rem;
      text-transform: uppercase;
      font-weight: 300;
      @include transition-ease;
      padding: 2rem;

      &:hover {
        color: orange;
      }
    }
  }
}

@for $i from 1 through 5 {
  .nav-items__item:nth-child(#{$i}) {
    transition-delay: ($i * 0.1s) + 0.15s;
  }
}
