@include media-md {
  .cards {
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3rem;
  }

  .home-section,
  .about-section {
    p {
      width: 68%;
    }
  }

  .freelance {
    .list-container {
      margin-top: 2rem;
      grid-template-columns: repeat(3, 1fr);
    }
  }
}

@include media-lg {
  .contact {
    .contact-section {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 136;
      text-align: center;
    }
  }
  .home-section,
  .about-section {
    h1 {
      font-size: 39px;
    }
    p {
      width: 68%;
      font-size: 1.3rem;
    }
  }
}

@include media-xl {
  body {
    font-size: 24px;

    .cards {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  .home-section,
  .about-section {
    h1 {
      font-size: 39px;
    }
    p {
      width: 68%;
      font-size: 1.3rem;
    }
  }
}
